name = "fennec-energy-monitor"
main = "build/index.js"
compatibility_date = "2026-01-18"
workers_dev = false
preview_urls = false

[placement]
mode = "smart"

[build]
command = "worker-build --release"

[triggers]
crons = ["* * * * *"]

[[d1_databases]]
binding = "fennecDatabase"
database_id = "72dd7137-2e4c-45c4-9118-731fd5d75899"

[[vpc_services]]
binding = "p1Service"
service_id = "019bd1e9-88c5-7951-a3d4-253d3493eb65"
remote = true

[[vpc_services]]
binding = "batteryMeterService"
service_id = "019bd5fe-f8b5-7122-a99b-219f6a7f2160"
remote = true

[[vpc_services]]
binding = "batteryService"
service_id = "019bdb5d-6eee-7c70-b627-a9a3070efa41"
remote = true

[observability]
enabled = true
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
persist = true
head_sampling_rate = 1
