name = "fennec-energy-monitor"
main = "build/index.js"
compatibility_date = "2026-01-18"
workers_dev = false
preview_urls = false

[build]
command = "worker-build --release"

[triggers]
crons = ["* * * * *"]

[[d1_databases]]
binding = "fennecDatabase"
database_name = "fennec"
database_id = "62573dab-868e-4fe0-9944-a0f2e81ec898"

[[vpc_services]]
binding = "p1Service"
service_id = "019bd1ea-846b-7182-8c09-ece10adff21b"
remote = true

[[vpc_services]]
binding = "batteryMeterService"
service_id = "019bd1e9-88c5-7951-a3d4-253d3493eb65"
remote = true

[observability]
enabled = true
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
persist = true
head_sampling_rate = 1
